.task-list__checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(78, 168, 222, 1);
  background-color: transparent;
  flex-shrink: 0;
  margin-right: 15px;
  transition: background-color 0.3s;
}

.task-list__vector {
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 1.9em;
  top: 1.9em;
}

.task-list__checkbox:hover {
  background-color: rgba(78, 168, 222, 0.5);
}

.task-list__checkbox:checked {
  border: 2px solid rgba(94, 96, 206, 1);
  background-color: rgba(94, 96, 206, 1);
}
.task-list__label {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}

.task-list__checkbox:checked ~ .task-list__vector {
  display: inline;
}

.task-list__checkbox:checked + .task-list__label {
  color: rgba(128, 128, 128, 1);
  text-decoration: line-through;
}

.task-list__trash {
  width: 24px;
  height: 24px;
  margin-left: 2em;
  cursor: pointer;
  padding: 0.17em;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.task-list__trash:hover {
  background-color: rgb(52, 51, 51);
}

@media only screen and (max-width: 320px) {
  .task-list__checkbox {
    width: 15px;
    height: 15px;
  }
  .task-list__vector {
    width: 10px;
    height: 10px;
  }
  .task-list__checkbox:checked ~ .task-list__vector {
    left: 2.1em;
    top: 2em;
  }
}
