/* body and fonts */
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slnt_wght.woff);
}

body {
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}

/* __checkbox */

/* __checkbox */

/* __content */

@media only screen and (max-width: 320px) {
  .wrapper-right {
    padding-top: 10px;
  }
}

/* _thin-font */
.task-list__second-paragrah_thin-font {
  font-weight: 300;
}
