/* body and fonts */
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slnt_wght.woff);
}

body {
  box-sizing: border-box;
  color: white;
  font-family: "Inter", sans-serif;
}

/* __checkbox */

/* checkbox-wrapper */
.task-list__checkbox-wrapper {
  background-color: rgba(38, 38, 38, 1);
  padding: 1.5em;
  border: 1px solid rgba(51, 51, 51, 1);
  border-radius: 8px;
  font-size: 1em;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px 10px;
  position: relative;
}

@media only screen and (max-width: 320px) {
  .task-list__checkbox-wrapper {
    font-size: 0.7em;
  }
}
/* __checkbox */

.task-list__label {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}

/* __ul */
.task-list__ul {
  display: flex;
  flex-direction: column;
  max-width: 736px;
  width: 100%;
  padding-inline-start: 0px;
}

/* __content */

/* __content */
.task-list__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 736px;
  width: 100%;
  font-weight: 400;
}

@media only screen and (max-width: 320px) {
  .task-list__content {
    flex-direction: column;
    align-items: center;
  }
}
/* __left-bar */
.task-list__left-bar {
  color: rgba(78, 168, 222, 1);
  margin-left: 10px;
}
/* right-bar */
.task-list__right-bar {
  color: rgba(130, 132, 250, 1);
}

@media only screen and (max-width: 320px) {
  .wrapper-right {
    padding-top: 10px;
  }
}
/* _counter-wrapper */
.task-list_counter-wrapper {
  background-color: rgba(51, 51, 51, 1);
  padding: 2px 8px;
  border-radius: 999px;
  margin-left: 5px;
  width: 15px;
  text-align: center;
  margin-right: 10px;
}
/* _wrapper-to-centre */
.wrapper-left,
.wrapper-right {
  display: flex;
  align-items: center;
}
/* __preview */

/* __preview */
.task-list__preview {
  display: flex;
  flex-direction: column;
  max-width: 736px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  border-top: 2px solid rgba(51, 51, 51, 1);
  border-radius: 20px;
  margin-top: 0.5em;
}
.task-list__preview-img {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 320px) {
  .task-list__preview {
    padding-top: 1em;
  }
}
.task-list__preview-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* __img-preview */
.task-list__img-preview {
  height: 130%;
}

@media only screen and (max-width: 320px) {
  .task-list__img-preview {
    height: 60%;
  }
}
/*__task-list__text*/
.task-list__text {
  text-align: center;
  padding: 3em;
  color: rgba(128, 128, 128, 1);
  font-weight: bold;
  font-size: 1.3em;
  line-height: 0.9;
}

@media only screen and (max-width: 320px) {
  .task-list__text {
    font-size: 0.8em;
    padding: 1em 3em 3em 3em;
  }
}
/* _thin-font */
.task-list__second-paragrah_thin-font {
  font-weight: 300;
}
