.task-form__input-text {
  height: 22px;
  max-width: 606px;
  width: 100%;
  padding: 16px;
  border: 1px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: rgba(38, 38, 38, 1);
  color: rgba(128, 128, 128, 1);
  border-color: black;
  outline: 1px solid rgba(94, 96, 206, 0);
  transition: outline 0.2s;
}

.task-form__input-text:focus {
  color: white;
  outline: 1px solid rgba(94, 96, 206, 1);
}
